<!DOCTYPE html>
<html>
  <head>
    <title>#Do Test Harness ({{packName}} - {{cardName}})</title>
  </head>
  <body>
    <h3>#Do Test Harness ({{packName}} - {{cardName}})</h3>
    <div>
      <h1><img width="25px" src="{{card.icon}}" /> {{card.name}}</h1>
      <p>{{card.description}}</p>
    </div>
    <div>
      <table>
        {{#each card.inputs}}
        <tr>
          <td><strong>{{@key}}</strong><br />{{this.description}}</td>
        </tr>
        <tr>
          <td><input id="{{@key}}" type="text" /></td>
        </tr>
        {{/each}}
      </table>
    </div>
    <br />
    <div>
      <a id="cardLink" href="#" target="_blank" ></a>
      <div>
        <iframe id="cardFrame" style="width: 260px; height: 450px" src="" frameborder="0" scrolling="auto" seamless="seamless" ></iframe>
      </div>
    </div>
  </body>
  <script>    
    function setCardSource() {
      var frame = document.getElementById('cardFrame');
      var link = document.getElementById('cardLink');
      var src = '/{{packName}}/{{cardName}}/?';      
      var secureInputs = {};
      
      function setSourceString() {
        {{#each card.inputs}}
        {{#unless this.secure}}
        src += '{{@key}}=' + window.encodeURIComponent(document.getElementById('{{@key}}').value) + '&';
        {{/unless}}
        {{/each}}
        
        if (this.responseText) {
          var token = JSON.parse(this.responseText).success;
          src += 'token=' + token;
        }
        
        frame.src = src;
        link.href = src;
        link.innerHTML = src;
      }
      
      {{#each card.inputs}}
      {{#if this.secure}}
      secureInputs.{{@key}} = window.btoa(document.getElementById('{{@key}}').value);
      {{/if}}
      {{/each}}
      
      if (Object.keys(secureInputs).length > 0) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/{{packName}}/{{cardName}}', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = setSourceString;
        xhr.send(JSON.stringify(secureInputs));
      }
      else {
        setSourceString();
      }
    }
    
    var refreshTimer = null;
    {{#each card.inputs}}
    var {{@key}} = document.getElementById('{{@key}}');
    {{@key}}.value = window.localStorage.getItem('{{@key}}') || '{{this.example}}';
    {{@key}}.addEventListener('keyup', function () {
      window.clearTimeout(refreshTimer);
      window.localStorage.setItem('{{@key}}', {{@key}}.value);
      refreshTimer = window.setTimeout(function () {
        setCardSource();
      }, 1200);
    });
    {{/each}}
    
    setCardSource();
  </script>
</html>